@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.tracks {
	margin-top: 50px;

	& article:nth-child(odd) {
		background-color: rgb(255, 255, 255, 0.1);
	}
}

.info {
	display: flex;
	gap: 16px;

	& img {
		aspect-ratio: 1 / 1;
		max-width: 300px;
		border-radius: 10px;
	}

	.details {
		padding-top: 70px;
		display: flex;
		flex-direction: column;
	}

	& h1 {
		font-weight: 700;
		line-height: 2.4rem;
		font-size: 2rem;
	}

	& h2 {
		font-weight: 400;
		font-size: 1.2rem;
	}

	.buttons {
		margin-top: auto;
		display: flex;
		gap: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.info {
		flex-direction: column;

		& img {
			max-width: 100%;
		}

		& h1 {
			font-size: 1.6rem;
		}

		.details {
			padding-top: 0;

			& div {
				margin-bottom: 0.25rem;
			}

			& button {
				width: 100%;
			}
		}
	}

	.tracks {
		margin-top: 20px;
	}
}

.play {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.375rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	opacity: 0;
	transition: opacity 0.3s;
}

.play:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.6);
}

h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

h2 {
	font-size: 1.25rem;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	.desktop-block,
	.desktop-flex,
	.desktop-grid {
		display: none !important;
	}

	.mobile-block {
		display: block;
	}

	.mobile-flex {
		display: flex;
	}

	.mobile-grid {
		display: grid;
	}
}

@media screen and (min-width: 768px) {
	.mobile-block,
	.mobile-flex,
	.mobile-grid {
		display: none !important;
	}

	.desktop-block {
		display: block;
	}

	.desktop-flex {
		display: flex;
	}

	.desktop-grid {
		display: grid;
	}
}
